# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
****

In [13]:
import pandas as pd
import numpy as np
from scipy import stats

import matplotlib.pyplot as plt

In [2]:
# Load the dataset
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [3]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4870 entries, 0 to 4869
Data columns (total 65 columns):
id                    4870 non-null object
ad                    4870 non-null object
education             4870 non-null int8
ofjobs                4870 non-null int8
yearsexp              4870 non-null int8
honors                4870 non-null int8
volunteer             4870 non-null int8
military              4870 non-null int8
empholes              4870 non-null int8
occupspecific         4870 non-null int16
occupbroad            4870 non-null int8
workinschool          4870 non-null int8
email                 4870 non-null int8
computerskills        4870 non-null int8
specialskills         4870 non-null int8
firstname             4870 non-null object
sex                   4870 non-null object
race                  4870 non-null object
h                     4870 non-null float32
l                     4870 non-null float32
call                  4870 non-null float32
city                  4870 non-null object
kind                  4870 non-null object
adid                  4870 non-null float32
fracblack             4784 non-null float32
fracwhite             4784 non-null float32
lmedhhinc             4784 non-null float32
fracdropout           4784 non-null float32
fraccolp              4784 non-null float32
linc                  4784 non-null float32
col                   4870 non-null float32
expminreq             4870 non-null object
schoolreq             4870 non-null object
eoe                   4870 non-null float32
parent_sales          1672 non-null float32
parent_emp            1722 non-null float32
branch_sales          608 non-null float32
branch_emp            658 non-null float32
fed                   3102 non-null float32
fracblack_empzip      1918 non-null float32
fracwhite_empzip      1918 non-null float32
lmedhhinc_empzip      1908 non-null float32
fracdropout_empzip    1918 non-null float32
fraccolp_empzip       1918 non-null float32
linc_empzip           1918 non-null float32
manager               4870 non-null float32
supervisor            4870 non-null float32
secretary             4870 non-null float32
offsupport            4870 non-null float32
salesrep              4870 non-null float32
retailsales           4870 non-null float32
req                   4870 non-null float32
expreq                4870 non-null float32
comreq                4870 non-null float32
educreq               4870 non-null float32
compreq               4870 non-null float32
orgreq                4870 non-null float32
manuf                 4870 non-null float32
transcom              4870 non-null float32
bankreal              4870 non-null float32
trade                 4870 non-null float32
busservice            4870 non-null float32
othservice            4870 non-null float32
missind               4870 non-null float32
ownership             4870 non-null object
dtypes: float32(42), int16(1), int8(12), object(10)
memory usage: 1.3+ MB

In [4]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [6]:
data.describe()

,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,occupbroad,workinschool,...,educreq,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind
count,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,...,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000
mean,3.618480,3.661396,7.842916,0.052772,0.411499,0.097125,0.448049,215.637782,3.481520,0.559548,...,0.106776,0.437166,0.072690,0.082957,0.030390,0.085010,0.213963,0.267762,0.154825,0.165092
std,0.714997,1.219126,5.044612,0.223601,0.492156,0.296159,0.497345,148.127551,2.038036,0.496492,...,0.308866,0.496083,0.259649,0.275854,0.171677,0.278932,0.410141,0.442847,0.361773,0.371308
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,27.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,4.000000,6.000000,0.000000,0.000000,0.000000,0.000000,267.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,4.000000,9.000000,0.000000,1.000000,0.000000,1.000000,313.000000,6.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,4.000000,7.000000,44.000000,1.000000,1.000000,1.000000,1.000000,903.000000,6.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

###    1. What test is appropriate for this problem? Does CLT apply?

For this data, I will be primarily looking at two columns - race and call. The sample size is sufficiently large, and we can independence in the data.

In [18]:
# Number of duplicate entries in the data
print('Number of Duplicate Entries in the data: ',data.duplicated().sum())

Number of Duplicate Entries in the data:  0

The data is independent and sufficiently large so CLT applies here. The tests that we can use here are to look at the differences of proportions between callbacks for races labeled 'w' vs. 'b'.

###    2. What are the null and alternate hypotheses?

The null hypothesis of interest here is that race ('w' or 'b') has no effect on probability of callback. The alternate hypothesis would be that race influences the proportion of callbacks received.

###   3. Compute margin of error, confidence interval, and p-value.

In [20]:
# Total entries
total_calls = data.shape[0]

print('Total Entries: ', total_calls)

# Race entries
total_b = data[data.race == 'b'].shape[0]
total_w = data[data.race == 'w'].shape[0]

frac_b = total_b / total_calls
frac_w = total_w / total_calls

print('# of black race entries: ',total_b)
print('# of white race entries: ',total_w)

print('fraction of black race entries: ',frac_b)
print('fraction of white race entries: ',frac_w)

Total Entries:  4870
# of black race entries:  2435
# of white race entries:  2435
fraction of black race entries:  0.5
fraction of white race entries:  0.5

there are an evenly distributed number of black and white entries in the dataset.

In [26]:
# average success rate
calls_all = sum(data.call) / total_calls

print('Percent of successful callbacks for all entries: {0:0.2f} %'.format(100*calls_all))

# Success rates by race
calls_b = sum(data[data.race=='b'].call) / total_b
calls_w = sum(data[data.race=='w'].call) / total_w

print('Percent of successful callbacks for black race entries: {0:0.2f} %'.format(100*calls_b))
print('Percent of successful callbacks for white race entries: {0:0.2f} %'.format(100*calls_w))

Percent of successful callbacks for all entries: 8.05 %
Percent of successful callbacks for black race entries: 6.45 %
Percent of successful callbacks for white race entries: 9.65 %

In [42]:
# Calculate Margin of Error
error = np.sqrt(calls_all*(1-calls_all)*(1/total_b + 1/total_w))
print('Margin of Error: {0:0.4f}'.format(error))
print('Confidence Interval for fraction of successful callbacks: between {0:0.4f} and {1:0.4f}'.format(calls_all-error, calls_all+error))

Margin of Error: 0.0078
Confidence Interval for fraction of successful callbacks: between 0.0727 and 0.0883

In [40]:
# Compute Z score and corresponding p-value
z_score = (calls_w - calls_b)/error
p_value = 2*(1-stats.norm.cdf(z_score))

print('p value via proportion comparison test: {0:0.5f}'.format(p_value))

p value via proportion comparison test: 0.00004

###    4. Write a story describing the statistical significance in the context or the original problem.

Although the number of race entries was equal for white and black, the data shows a successful rejection of the null hypothesis that race does not influence the rate of callbacks. White entries were much more likely, by an average of approximately 3.2%, to recieve a callback than those with resumes labeled as having black-sounding names.

###   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

No. While race has been shown to be a statistically significant factor influencing the outcomes of the rate of callbacks, more analysis would need to be done to quantify the correlation between each of the other features with callback rates in order to classify one feature as having the most impact.